.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--light-bg);
}

.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--white);
  text-decoration: none;
  i {
    color: var(--green);
  }
}

.header .flex .navbar a {
  margin-left: 1.5rem;
  color: var(--light-white);
  font-size: 1.5rem;
  text-decoration: none;
}
.header .flex .navbar {
}

.header .flex .navbar a:hover {
  color: var(--green);
}

#menu-btn {
  cursor: pointer;
  color: var(--white);
  font-size: 2.5rem;
  display: none;
}
#menu-btn {
  cursor: pointer;
  color: var(--white);
  font-size: 2.5rem;
  display: none;
}
.box {
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color: var(--white);
  // padding: 1.4rem;
  text-transform: none;
}
.hide {
  display: none !important;
}
.loginBtn {
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: var(--light-bg) !important;
  cursor: pointer;
  color: var(--white) !important;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin: 0 20px;
  border-color: var(--white) !important ;
  &:hover {
    background-color: var(--white) !important;
    color: var(--black) !important;
    border-color: var(--white) !important ;
  }
}
.registerBtn {
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: var(--light-bg) !important;
  width: 102px;
  cursor: pointer;
  color: var(--white) !important;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin: 0 20px 0 0px;
  border-color: var(--white) !important ;
  &:hover {
    background-color: var(--white) !important;
    color: var(--black) !important;
    border-color: var(--white) !important ;
  }
}

.dropdown {
  .titleUser {
    color: var(--green);
    font-weight: bold;
    font-size: 1.8rem;
  }
  position: relative;
  display: inline-block;
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 10px 10px 0px 10px;
    background-color: var(--light-bg);
    border-radius: 10px;
    .btn-drop-user {
      color: var(--green);
      background-color: transparent;
      display: inline-block;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      &:hover {
        background-color: transparent;
      }
    }
  }
  &:hover .dropdown-content{
    display: block;
  }
}

@media (max-width: 991px) {
  .dropdown {
    padding: 2rem;
    .titleUser {
    }
    .dropdown-content {
      position: static;
      display: block;
      .btn-drop-user {
        color: var(--green);
        background-color: transparent;
        display: inline-block;
        text-align: center;
        padding: 0 !important;
        margin: 0 auto;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  #menu-btn {
    display: inline-block;
  }
  #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid var(--light-white);
    border-bottom: 0.1rem solid var(--light-white);
    background-color: var(--light-bg);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }
  .registerBtn,
  .loginBtn {
    display: block !important;
  }
  .registerBtn {
    margin: 20px;
    width: 102px;
  }
  .loginBtn {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
  .header .flex .logo {
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    i {
      color: var(--green);
    }
  }
  .box {
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    font-size: 1.3rem;
    color: var(--white);
    // padding: 1.4rem;
    text-transform: none;
  }
}



