//@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: #00e77f;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.2s linear;

  text-transform: capitalize;
}

*::selection {
  background-color: var(--white);
  color: var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 5rem;
}

body {
  background-color: var(--black);
  min-width: 100%;
  padding: 0 !important;
  //  min-height: 100vh;
  //overflow-x: hidden;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.fa-times {
  width: 17.25px;
}
.fa-bars {
  width: 17.25px;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: var(--light-bg);
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: var(--white);
  color: var(--black);
}
.swiper-pagination-bullet {
  background-color: var(--white);
}

.swiper-pagination-bullet-active {
  background-color: var(--green) !important;
}
.heading {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color: var(--white);
  text-transform: uppercase;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}
.btn-footer {
  position: fixed;

  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);

  transition: var(--transition-2);
  z-index: 2;
  font-weight: bold;
  text-decoration: none;

  i {
    font-size: 2rem;
  }
}
.go-top {
  background: var(--green);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
}
.call {
  border: red 1px solid;
  color: red;
  bottom: 20px;
  left: 20px;
  animation: call infinite;
  animation-duration: 0.5s;
}
.messFacebook {
  border: blue 1px solid;
  background-color: var(--white);
  color: blue;
  bottom: 80px;
  left: 20px;
  animation: messFacebook infinite;
  animation-duration: 0.5s;
}
.btn-close {
  color: red;
  margin: 0 auto;
  position: initial;
  background-color: transparent;
  background-color: #fff;
  i {
    font-size: 5rem;
  }
}
.messFacebook,
.call {
  &:hover {
    color: var(--green);
    border-color: var(--green);
  }
}
.fb-customerchat {
  bottom: 92px;
  right: 29px;
}

.ant-modal-header {
  border-bottom: 1px solid var(--green);
}

.ant-modal-header,
.ant-modal-footer {
  background-color: var(--black);
}
.ant-modal-title {
  color: var(--green);
  font-weight: bold;
  text-align: center;
  font-size: 3.5rem;
  margin: 15px;
}
.ant-modal-body {
  background-color: var(--black);
}
.go-top.active {
  opacity: 1;
  visibility: visible;
}
.anticon {
  color: var(--white) !important;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
  .messFacebook,
  .call {
    left: 5px;
  }
  .go-top {
    right: 5px;
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--green) !important;
}
.ant-tabs-tab-btn {
  color: var(--white) !important;
}
.ant-tabs-ink-bar {
  background: var(--green) !important;
}
.btn-pagination {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0.5rem 0 0 0.5rem;
  border-radius: 5rem;
  background-color: var(--light-bg);
  cursor: pointer;
  color: var(--white);
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  &:first-child {
    margin-left: 0;
  }
}
.active-btn-pagination {
  background-color: var(--green);
  color: var(--white);
  width: 25px;
  height: 25px;
  cursor: not-allowed;
}
@keyframes call {
  0% {
    transform: scale(1.1);
    transform: rotate(10deg);
  }
  25% {
    transform: scale(1.15);
    transform: rotate(20deg);
  }
  50% {
    transform: scale(1.2);
    transform: rotate(30deg);
  }
  75% {
    transform: scale(1.15);
    transform: rotate(20deg);
  }
  100% {
    transform: scale(1.1);
    transform: rotate(10deg);
  }
}
@keyframes messFacebook {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}
