@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.detailCourses {
  margin-top: 10rem;
  .heading {
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
  }

  .heading span {
    color: var(--green);
    text-transform: uppercase;
  }
}

.blog-post {
  margin-bottom: 30px;
  .blog-thumb {
    img {
      width: 100%;
      overflow: hidden;
      object-fit: cover;
    }
  }
  .down-content {
    p.descri {
      padding: 25px 0px;
      margin: 25px 0px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      color: #fff;
    }
    padding: 40px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    span {
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 900;
      color: var(--bs-yellow);

      .stars {
        display: inline-block;
        .iconReview {
          margin-left: 5px;
        }
      }
      .btn {
        color: #ffffff;
        font-size: 1rem;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: inline-block;
        cursor: pointer;
        background: transparent;
        border: 1px solid var(--green);
        margin: 5px 10px;
        padding: 2px 5px;
        &:hover{
          background-color: var(--bs-yellow);
          color: var(--black);
          font-weight: bold;
        }
      }
    }
    h4 {
      font-size: 3.5rem !important;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      font-weight: bold;
      color: var(--green);
      margin: 10px 0px 12px 0px;
    }
    a {
      h4 {
        font-size: 20px;
        letter-spacing: 0.25px;
      }
    }
    ul.post-info {
      li {
        display: inline-block;
        margin-right: 8px;
        &:after {
          content: "|";
          color: #aaa;
          margin-left: 8px;
        }
        a {
          font-size: 14px;
          color: #aaa;
          font-weight: 400;
          transition: all 0.3s;
          &:hover {
            color: #f48840;
          }
        }
      }
    }
    ul.post-share {
      text-align: right;
    }
  }
}

.down-content ul.post-tags li,
.down-content ul.post-share li {
  display: inline-block;
}

.down-content ul.post-tags li:first-child i,
.down-content ul.post-share li:first-child i {
  color: #f48840;
  margin-right: 5px;
}

.down-content ul.post-tags li,
.down-content ul.post-share li {
  color: #aaa;
}

.down-content ul.post-tags li a,
.down-content ul.post-share li a {
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
  transition: all 0.3s;
}

.down-content ul.post-tags li a:hover,
.down-content ul.post-share li a:hover {
  color: #f48840;
}
