@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.detailCourses {
  margin-top: 10rem;
  .heading {
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
    span {
      color: var(--green);
      text-transform: uppercase;
    }
  }
  .blog-post {
    margin-bottom: 30px;
    .blog-thumb {
      img {
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        min-height: 300px;
      }
    }
    .down-content {
      p.descri {
        padding: 25px 0px;
        margin: 25px 0px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        color: #fff;
      }
      padding: 40px;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      span {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 900;

        .stars {
          display: inline-block;
          color: yellow;
          .iconReview {
            margin-left: 5px;
          }
        }
        .btn {
          color: #ffffff;
          font-size: 1rem;
          text-transform: uppercase;
          border-radius: 4px;
          font-weight: 400;
          display: inline-block;
          cursor: pointer;
          background: transparent;
          border: 1px solid var(--green);
          margin: 5px 10px;
          padding: 2px 5px;
          &:hover {
            background-color: yellow;
            color: var(--black);
            font-weight: bold;
          }
        }
      }
      h4 {
        font-size: 3.5rem !important;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-weight: bold;
        color: var(--green);
        margin: 10px 0px 12px 0px;
      }
      a {
        h4 {
          font-size: 20px;
          letter-spacing: 0.25px;
        }
      }
      ul.post-info {
        li {
          display: inline-block;
          margin-right: 8px;
          &:after {
            content: "|";
            color: #aaa;
            margin-left: 8px;
          }
          a {
            font-size: 14px;
            color: #aaa;
            font-weight: 400;
            transition: all 0.3s;
            &:hover {
              color: #f48840;
            }
          }
        }
      }
      ul.post-share {
        color: #aaa;
        text-align: right;
        display: inline-block;
        li {
          :first-child i {
            color: #f48840;
            margin-right: 5px;
          }
          a {
            font-size: 14px;
            color: #aaa;
            font-weight: 400;
            transition: all 0.3s;
            &:hover {
              color: #f48840;
            }
          }
        }
      }
      ul.post-tags {
        text-decoration: none;
        color: #aaa;
        display: inline-block;
        list-style: none;
        padding: 10px 0;
        margin: 0;
        li {
          :first-child i {
            color: #f48840;
            margin-right: 5px;
          }
          i {
            margin: 0 5px 0 10px;
          }
          a {
            font-size: 14px;
            color: #aaa;
            font-weight: 400;
            transition: all 0.3s;
            &:hover {
              color: #f48840;
            }
          }
        }
      }
    }
  }
}

.down-content ul.post-tags li a:hover,
.down-content ul.post-share li a:hover {
  color: #f48840;
}
@media (min-width: 20rem) {
  .detailCourses {
    margin-top: 10rem;
    .heading {
      margin-bottom: 2.5rem;
      text-align: center;
      font-size: 3.5rem;
      color: var(--white);
      text-transform: uppercase;
      span {
        color: var(--green);
        text-transform: uppercase;
      }
    }
    .blog-post {
      margin-bottom: 30px;
      .blog-thumb {
        img {
          max-height: 230px;
        }
      }
      .down-content {
        p.descri {
          padding: 15px 10px;
          margin: 0;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;
          color: #fff;
          font-size: 1.3rem;
        }
        padding: 0px;
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        span {
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-weight: 900;
          padding: 15px 5px;
          margin: 0;

          .stars {
            display: inline-block;
            color: yellow;
            .iconReview {
              margin-left: 5px;
            }
          }
          .btn {
            color: #ffffff;
            font-size: 1.4rem;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: 400;
            display: inline-block;
            cursor: pointer;
            background: transparent;
            border: 1px solid var(--green);
            margin: 6px 10px;
            padding: 8px 11px 7px 11px;
            line-height: 1rem;
            &:hover {
              background-color: yellow;
              color: var(--black);
              font-weight: bold;
            }
          }
        }
        h4 {
          font-size: 2.5rem !important;
          text-transform: capitalize;
          letter-spacing: 0.5px;
          font-weight: bold;
          color: var(--green);
          padding-top: 10px;
          margin: 0px 0px 12px 10px;
        }
        a {
          h4 {
            font-size: 20px;
            letter-spacing: 0.25px;
          }
        }
        ul.post-info {
          li {
            display: inline-block;
            margin-right: 8px;
            &:after {
              content: "|";
              color: #aaa;
              margin-left: 8px;
            }
            a {
              font-size: 14px;
              color: #aaa;
              font-weight: 400;
              transition: all 0.3s;
              &:hover {
                color: #f48840;
              }
            }
          }
        }
        ul.post-share {
          text-align: right;
        }
      }
    }
  }
}
@media (min-width: 40rem) {
}

@media (min-width: 56rem) {
  .detailCourses {
    .blog-thumb {
      img {
        height: 400px;
      }
    }
  }
}
